* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
}

h2, h3 {
  font-family: 'Montserrat';
}

/* HEADER */

header {
  background-image: linear-gradient(45deg, rgba(230, 179, 49, 0.43599446614583337) 6%, rgba(226, 141, 144, 0.45840342973126746) 25%, rgba(234, 145, 145, 0.5704482476584384) 59%, rgba(75, 73, 117, 0.4696079115239846) 78%),
    url("images/photo.jpeg");
  background-size: cover;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header>div {
  padding: 20vh 0;
}

h3 {
  font-size: 1rem;
}

.nav-link {
  color: white;
}

header::after {
  content: '';
  display: block;
  position: relative;
  left: calc(50% - 75px);
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 50px;
  border-left-width: 50px;
  border-bottom: 50px solid #fff;
}

/* MAIN */

#product-caroussel h2{
  color:#EA9191;
}

.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 600px;
}

#other-products img {
  width: 200px;
}

#other-products h2 {
  color: #EA9191;
}

#other-products h3 {
  color: #4B4975;
}
